##
## List of repositories.
## PS: Any repositories listed when section is unset will not be
##     displayed under a section heading
## PPS: This list could be kept in a different file (e.g. '/etc/cgitrepos')
##      and included like this:
##        include=/etc/cgitrepos
##

repo.url=password-store
repo.path=/home/ech0fth_gmail_com/password-store/.git
repo.desc=the master foo repository
repo.owner=fooman@example.com
repo.readme=info/web/about.html

repo.url=localdiff
repo.path=/home/git/projects/localdiff/
repo.desc=local diff server / revision history server.
repo.owner=g@ruleless.org

repo.url=coffeegit
repo.path=/home/git/projects/coffeegit/
repo.desc=git + quick clone/dl/create server + pastebin + auth
repo.owner=owners@thelab.sh

#add-repos

#repo.url=bar
#repo.path=/pub/git/bar.git
#repo.desc=the bars for your foo
#repo.owner=barman@example.com
#repo.readme=info/web/about.html


# The next repositories will be displayed under the 'extras' heading
#section=extras


#repo.url=baz
#repo.path=/pub/git/baz.git
#repo.desc=a set of extensions for bar users

#repo.url=wiz
#repo.path=/pub/git/wiz.git
#repo.desc=the wizard of foo


# Add some mirrored repositories
#section=mirrors


#repo.url=git
#repo.path=/pub/git/git.git
#repo.desc=the dscm


#repo.url=linux
#repo.path=/pub/git/linux.git
#repo.desc=the kernel

# Disable adhoc downloads of this repo
#repo.snapshots=0

# Disable line-counts for this repo
#repo.enable-log-linecount=0

# Restrict the max statistics period for this repo
#repo.max-stats=month
