<li>
  <a href="/git/list/"><i class="fa fa-laptop"></i><span> Dashboard</span></a>
</li>

<li>
  <a href="/cgit/"><i class="fa fa-angle-double-right"></i><span> Open cGit Web</span></a>
</li>

<li class="treeview">
  <a href="#">
    <i class="fa fa-code-fork"></i>
    <span>Git</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="/git/add" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Add Repo</a></li>
    <li><a href="/git/clone" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Clone Repo</a></li>
    <li><a href="/git/list" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List Repos</a></li>
    <li><a href="/cgit/" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> cgit (web)</a></li>
  </ul>
</li>

<li class="treeview">
  <a href="#">
    <i class="fa fa-laptop"></i>
    <span>SSH (Wip)</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="/ssh/add" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Add SSH Key</a></li>
    <li><a href="/ssh/list" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Git SSH Keys</a></li>
  </ul>
</li>

<li class="treeview">
  <a href="#">
    <i class="fa fa-code"></i>
    <span>Pastebin (Wip)</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="/paste/add" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Add Paste</a></li>
    <!-- <li><a href="/ssh/list" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Git SSH Keys</a></li> -->
  </ul>
</li>

<li class="treeview">
  <a href="#">
    <i class="fa fa-users"></i>
    <span>Users (Wip)</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
<!--    <li><a href="/paste/add" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Add Paste</a></li> -->
    <!-- <li><a href="/ssh/list" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Git SSH Keys</a></li> -->
  </ul>
</li>
